<html>
  <head>
    <title>Convert Celcius To Fahrenheit App</title>
  </head>
  <body>
    <h1>Convert Celcius To Fahrenheit App</h1>
    <form action="" method="get">
        Celsius temperature: <input type="text" name="celsius">
        <input type="submit" value="Convert to Fahrenheit">
    </form>
    <h2>Fahrenheit:</h2>
    <p>{{ fahrenheit }}</p>
  </body>
</html>